pkgbase = piter-bin
	pkgdesc = Piter — AI coding agent desktop client (Tauri), with LAN web access
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Yoak3n/piter
	arch = x86_64
	license = MIT
	depends = glib2
	depends = glibc
	depends = gcc-libs
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = webkit2gtk-4.1
	depends = xdg-utils
	source = https://github.com/Yoak3n/piter/releases/download/v0.1.1/piter_0.1.1_amd64.deb
	sha256sums = SKIP

pkgname = piter-bin
